<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>nCov</title>
    <script src="../static/js/jquery.js"></script>
</head>
<body>
    <h1>疫情追踪</h1>
    <button>点我有惊喜</button>
    <script>
        $("button").click(function () {
            $.ajax({
                url:"/testAjax",
                type:"post",
                data:{"name":"lsl","score":100},
                success:function (data) {
                    $("h1").html("武汉加油"+data);
                },
                error:function () {
                    alert("发送请求失败")
                }
            })
        })
    </script>
</body>
</html>