<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>nCov—word</title>
        <link rel="icon" href="../static/image/icon.jpg">
        <link href="../static/css/word.css" rel="stylesheet"/>
        <script src="../static/js/jquery.js"> </script>
        <script src="../static/js/echarts.min.js"> </script>
        <script src="../static/js/word/vintage.js"> </script>
        <script src="../static/js/word/world.js"> </script>
        <script src="../static/js/word/controller_w.js"> </script>
        <link href="../static/css/music.css" rel="stylesheet" />
    </head>
<body>
    <div id="gyroContain">
        <div id="area">
            <a href="https://kleinlsl.github.io/" target="_blank">博客</a>
            &nbsp;|&nbsp;
            <a href="/" target="_blank">中国疫情实时追踪</a>
            <br>
            数据来源：百度 & 腾讯
        </div>
        <div id="tit">
            <span>世界疫情实时追踪</span>
        </div>
        <div id="tim">
                <audio id="myaudio1" controls loop  autoplay="autoplay"  src="../static/music/天空之城钢琴.mp3"></audio>
                <br>
                <div id="time"></div>
        </div>
        <div id="left"> left</div>
        <div id="right"> right</div>
    </div>
    <script language="JavaScript">
        var myVid=document.getElementById("myaudio1");
        myVid.volume=0.5;
    </script>
    <script src="../static/js/word/ecc_world.js"> </script>
    <script src="../static/js/word/ec_world.js"> </script>
</body>
</html>